<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxmox.app.pve_flutter_frontend">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Proxmox Virtual Environment"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name="com.proxmox.app.pve_flutter_frontend.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- This is used by Flutter to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.proxmox.app.pve_flutter_frontend.provider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>
